<li id="piece-row-{{ piece.pk }}" class="list-row">
    <span>
        {{ piece.score }}
        <span class="badge badge--{% if piece.is_confirmed %}confirmed{% else %}proposed{% endif %}">
            {% if piece.is_confirmed %}Confirmed{% else %}Proposed{% endif %}
        </span>
    </span>
    <form method="post" action="{% url 'planning:toggle_confirm' piece.pk %}" class="ajax-toggle-confirm">
        {% csrf_token %}
        <button id="confirm-toggle-{{ piece.pk }}" type="submit">{% if piece.is_confirmed %}Un-confirm{% else %}Confirm{% endif %}</button>
    </form>
</li>
